Repository IATI/IATI-Websites, pull requests merged in 2018-02, with the labels that each got.

#182 Remove 2.02 release notice
  iatistandard/_templates/layout_live.html
Labels: complete, enhancement, iatistandard.org

#181 Remove reference to 1.05
  iatistandard/root/index.html
Labels: bug, complete, enhancement, iatistandard.org

#183 Update live from master
  iatistandard/_templates/layout_live.html
  iatistandard/root/index.html
  salt/backups.sls
Labels: complete, iatistandard.org

#184 Make homepage links version independant
  iatistandard/root/index.html
Labels: complete, dev.iatistandard.org, enhancement, iatistandard.org

#185 Add version 2.03 to the Standard docs homepage
  iatistandard/root/index.html
Labels: complete, dev.iatistandard.org, enhancement, iatistandard.org

#187 Dev-Datastore server is due to be replaced and so reference to it is being removed
  salt-config/roster
Labels: complete
